<p>
  <a href="http://facebook.com/doseextra" class="social-link"><i class="fa fa-facebook"></i></a>
  <a href="http://twitter.com/sitedoseextra" class="social-link"><i class="fa fa-twitter"></i></a>
  <a href="https://feeds.feedburner.com/DoseExtra" class="social-link"><i class="fa fa-podcast"></i></a>
  <a href="http://instagram.com/doseextra" class="social-link"><i class="fa fa-instagram"></i></a>
  <a href="https://www.youtube.com/channel/UC5Zz7kecrmtYZSKCS79_-Wg?view_as=subscriber" class="social-link"><i class="fa fa-youtube"></i></a>
</p>
