<!DOCTYPE html>
<html>
<head>
	<meta charset="#">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="profile" href="http://gmpg.org/xfn/11">


<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Droid+Serif:400,700|Nunito+Sans:300,400,700,900|Source+Sans+Pro:400,700" type='text/css' media='all' />
<link rel="stylesheet" href="/assets/vendors/fontawesome/font-awesome.min.css" type='text/css' media='all' />
<link rel="stylesheet" href="/assets/vendors/bootstrap/bootstrap.min.css" type='text/css' media='all' />
<link rel="stylesheet" href="/assets/vendors/bootstrap/bootstrap-theme.min.css" type='text/css' media='all' />
<link rel="stylesheet" href="/assets/css/style.css" type='text/css' media='all' />
<link rel="stylesheet" href="/assets/vendors/owl-carousel/owl.carousel.min.css" type='text/css' media='all' />
<link rel="stylesheet" href="/assets/vendors/owl-carousel/owl.theme.default.css" type='text/css' media='all' />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Poppins:400,500,600,700" type='text/css' media='all' />


</head>

<body>
<div id="page" class="site">
  <div class="top-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
								<!-- News Ticker Module -->
<section class="newspaper-x-news-ticker">
    <span class="newspaper-x-module-title">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-bullhorn fa-stack-1x fa-inverse"></i>
        </span>
        Latest News    </span>
    <ul class="newspaper-x-news-carousel owl-carousel owl-theme">
                    <li class="item">
                <a href="https://colorlib.com/newspaper-x/2017/05/10/sed-purus-velit-finibus-non-semper-nonut-utas/">Sed purus velit, finibus non semper  nonut am utas</a>
            </li>
                    <li class="item">
                <a href="https://colorlib.com/newspaper-x/2017/05/10/nunc-hendrerit-egestas-amus-ad-arcu-im-usa/">Nunc hendrerit egestas amus ad  arcu im usa</a>
            </li>
                    <li class="item">
                <a href="https://colorlib.com/newspaper-x/2017/05/10/itum-binus-sitam-conestum-ey/">Itum as binus sitam conestum ey</a>
            </li>
                    <li class="item">
                <a href="https://colorlib.com/newspaper-x/2017/05/10/vivamus-id-lorem-blandit/">Vivamus id lorem blandit</a>
            </li>
                    <li class="item">
                <a href="https://colorlib.com/newspaper-x/2017/05/10/nam-aliquet-lorem-vita/">Nam aliquet, lorem vita</a>
            </li>
                    <li class="item">
                <a href="https://colorlib.com/newspaper-x/2017/05/10/nulla-nec-enimus-amis/">Nulla nec enimus amis</a>
            </li>
                    <li class="item">
                <a href="https://colorlib.com/newspaper-x/2017/05/10/aliquet-lorem-pantum-2/">Aliquet, lorem pantum.</a>
            </li>
                    <li class="item">
                <a href="https://colorlib.com/newspaper-x/2017/05/10/odio-sapien-uta-accumsan-ut-dolor-vel/">In odio sapien, at uta, accumsan ut dolor vel</a>
            </li>
                    <li class="item">
                <a href="https://colorlib.com/newspaper-x/2017/05/10/maecenas-tincidunt-posuere-quam-eu-atimu/">Maecenas tincidunt posuere quam, eu atimu</a>
            </li>
                    <li class="item">
                <a href="https://colorlib.com/newspaper-x/2017/05/10/maecenas-elit-ligula-placerat-elementum/">Maecenas elit ligula, placerat elementum</a>
            </li>
            </ul>
</section>
            </div>
			            <div class="col-lg-4">
														<form role="search" method="get"   id="searchform" action="https://colorlib.com/newspaper-x/">
	<label>
		<span class="screen-reader-text">Search for:</span>
		<input class="search-field" placeholder="Search..." value="" name="s"
		       type="search">
	</label>
	<button class="search-submit" value="Search  " type="submit"><span class="fa fa-search"></span></button>
</form>								                    <div class="top-header-icons">
						<div id="menu-social" class="menu pull-right">
              <ul id="menu-social-items" class="menu-items"><li id="menu-item-111" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-111"><a href="https://facebook.com"><span class="screen-reader-text">Facebook</span></a></li>
<li id="menu-item-112" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-112"><a href="https://tumblr.com"><span class="screen-reader-text">Tumblr</span></a></li>
<li id="menu-item-113" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-113"><a href="https://twitter.com"><span class="screen-reader-text">Twitter</span></a></li>
<li id="menu-item-115" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-115"><a href="https://plus.google.com"><span class="screen-reader-text">Google +</span></a></li>
<li id="menu-item-114" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-114"><a href="https://youtube.com"><span class="screen-reader-text">Youtube</span></a></li>
</ul></div>                    </div>

            </div>
        </div>
    </div>
</div>

	<header id="masthead" class="site-header" role="banner">
		<div class="site-branding container">
			<div class="row">
				<div class="col-md-4 header-logo">
          <a href="https://colorlib.com/newspaper-x/" class="custom-logo-link" rel="home" itemprop="url"><img width="185" height="55" src="https://colorlib.com/newspaper-x/wp-content/uploads/sites/15/2017/05/newspaperx_logo_185x55_dark.png" class="custom-logo" alt="Newspaper X" itemprop="logo" /></a>
      	</div>
				</div>

					<div class="col-md-8 header-banner">
            <a href="https://colorlib.com/wp/forums/">
		<img width="729" height="90" src="https://colorlib.com/newspaper-x/wp-content/uploads/sites/15/2017/05/banner.png" class="attachment-newspaper-x-wide-banner size-newspaper-x-wide-banner" alt="" />
  </a>
					</div>

			</div>
		</div><!-- .site-branding -->

		<nav id="site-navigation" class="main-navigation" role="navigation">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<button class="menu-toggle" aria-controls="primary-menu"
						        aria-expanded="false"><span class="fa fa-bars"></span></button>
                    <div class="menu-primary-menu-container"><ul id="primary-menu" class="menu"><li id="menu-item-127" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-127"><a href="https://colorlib.com/newspaper-x">Home</a></li>
        <li id="menu-item-128" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-128"><a href="https://colorlib.com/newspaper-x/category/news/">News</a>
        <ul  class="sub-menu">
        	<li id="menu-item-129" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-129"><a href="https://colorlib.com/newspaper-x/category/the-world/">The World</a>
        	<ul  class="sub-menu">
        		<li id="menu-item-136" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-136"><a href="#">World News</a></li>
        		<li id="menu-item-137" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-137"><a href="#">World Events</a></li>
        	</ul>
        </li>
        	<li id="menu-item-130" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-130"><a href="https://colorlib.com/newspaper-x/category/events/">Events</a></li>
        	<li id="menu-item-131" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-131"><a href="https://colorlib.com/newspaper-x/category/editorial/">Editorial</a></li>
        </ul>
        </li>
        <li id="menu-item-135" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-135"><a href="https://colorlib.com/newspaper-x/blog/">Blog</a></li>
        <li id="menu-item-140" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-140"><a href="https://colorlib.com/newspaper-x/contact/">Contact</a></li>
        </ul></div>
      </div>
      </div>
    </div>

		</nav><!-- #site-navigation -->
	</header><!-- #masthead -->

	<div id="content" class="site-content container">
