<main id="content" class="white-background" role="main">
  <div class="container container-masonry">
    <div class="row">
      <div class="podcast-head col sm-12 col-md-12">
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" style="background-image">
        <h2 class="single-title no-bottom">{{ .Title }}</h2>
        <p class="post-meta"><span>{{ .Date.Format "2 de Jan de 2006" }} por <a href="{{ "/author/" | relLangURL }}{{ .Param "author" | urlize }}">{{ .Params.authorName }}</a></span></p>

        <p>{{ .Params.Summary }}</p>
        <img src="{{ .Params.imagePOST }}" width="100%" alt="{{ .Title }}">
        <audio controls style="width:100%">
          <source src="{{ .Params.PodcastOgg }}" type="audio/ogg">
          <source src="{{ .Params.PodcastMp3 }}" type="audio/mpeg">
          Seu navegador não é suportado.
        </audio>
        <p><a href="{{ .Params.PodcastFeed }}">Assinar Feed</a> - <a href="{{ .Params.PodcastMp3 }}">Baixar Episódio em .mp3</a> - <a href="{{ .Params.PodcastOgg }}">Baixar Episódio em .ogg</a> - <a href="{{ .Params.PodcastZip }}">Baixar em .zip</a></p>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        {{ .Content }}
      </div>
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <div class="sep"></div>
        <div class="fb-like" data-href="{{ .Site.Params.Facebook }}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="false"></div>
        <div class="sep"></div>
      </div>
    </div>

      <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-sm-6">
            <h5>Compartilhe nas suas redes sociais</h5>
            <p class="social-share no-bottom">
              <a href="https://www.facebook.com/sharer/sharer.php?u={{ .RelPermalink }}" class="social-link" target="_blank"><i class="fa fa-facebook"></i></a>
              <a href="https://twitter.com/home?status={{ .RelPermalink }}" class="social-link" target="_blank"><i class="fa fa-twitter"></i></a>
              <a href="https://plus.google.com/share?url={{ .RelPermalink }}" class="social-link" target="_blank"><i class="fa fa-google-plus"></i></a>

            </p>
          </div>
          <div class="col-sm-6">
            <p class="tags"><strong class="padding-bottom">Tags:</strong> {{ range .Params.Tags }}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{ end }}</p>
          </div>
        </div>
        <div class="clear"></div>

        <div class="sep margin-2"></div>

        <h5>Outros podcasts</h5>
        <div class="owl-carousel owl-thumbs-2">
          {{ $PostType := .Params.Type }}
          {{ range first 4 ( where ( where .Site.Pages.ByDate.Reverse "Type" $PostType ) "Permalink" "!=" .Permalink ) }}
          <div class="thumb dark-overlay">
            <div class="photo">
              <a href="{{ .Permalink }}">
                <img src="{{ with .Params.image }}{{ . }}{{ else }}images/missing-img.png{{ end }}" alt="Imagem de destaque do post {{ .Title }}">
                <span class="info"><span class="big-excerpt">{{ .Title }}</span></span>
              </a>
            </div>
          </div>
          {{ end }}

        </div>
        <div class="sep margin-4"></div>

        <div id="disqus_thread"></div>
              <script>
              (function() {
              var d = document, s = d.createElement('script');
              s.src = 'https://zinedoseextra.disqus.com/embed.js';
              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
              })();
              </script>
              <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

              <div class="clear"></div>

        <div class="margin-6"></div>
      </div>
    </div>
  </div>
</main>
