<nav>
  <ul>
							<li class="current-menu-item"><a href="{{ .Site.BaseURL }}">Início</a></li>
							<li class="menu-item-has-children" >
                <a href="{{ .Site.BaseURL }}/podcast/">Podcast</a>
              <ul>
                <li><a href="{{ .Site.BaseURL }}">Software livre</a></li>
                <li><a href="{{ .Site.BaseURL }}">Web</a></li>
                <li><a href="{{ .Site.BaseURL }}">Multimídia</a></li>
              </ul>
              </li>
							<li class="menu-item-has-children">
								<a href="{{ .Site.BaseURL }}/revista/">Revista</a>
								<ul>
                  <li><a href="{{ .Site.BaseURL }}/categories/web/">Desevolvimento web</a></li>
                  <li><a href="{{ .Site.BaseURL }}/categories/mídias-digitais/">Mídias Digitais</a></li>
                  <li><a href="{{ .Site.BaseURL }}/categories/design/">Design</a></li>
									<li><a href="{{ .Site.BaseURL }}/categories/video/">Video e Fotografia</a></li>
                  <li><a href="{{ .Site.BaseURL }}/categories/comunicacao/">Comunicação</a></li>
                  <li><a href="{{ .Site.BaseURL }}/categories/artigos/">Artigos</a></li>
                  <li><a href="{{ .Site.BaseURL }}/categories/tutoriais/">Tutoriais</a></li>
                  <li><a href="{{ .Site.BaseURL }}/categories/resenha/">Resenhas</a></li>
								</ul>
							</li>
							<li class="menu-item-has-children">
								<a href="{{ .Site.BaseURL }}/sobre/">Sobre</a>
							</li>
							<li class="menu-item-has-children">
								<a href="{{ .Site.BaseURL }}/contato/">Contato</a>
							</li>
							<li class="menu-item-search">
								<a href="#"><i class="fa fa-search"></i><i class="fa fa-times"></i></a>
								<form method="get" id="site-searchform" class="searchform" action="#">
									<input type="search" name="s" autocomplete="off" placeholder="Pesquisar&hellip;">
									<input type="submit" value="&#xf002;">
								</form>
							</li>
						</ul>
</nav>
