<main id="content" role="main">
  <div class="container container-masonry">
    <div class="inner">
      <div class="row">

        {{ range first 2 (where .Data.Pages.ByDate.Reverse "Section" "podcast") }}
        <div class="box col-sm-7 col-md-6">
          <div class="thumb featured">


            <div class="photo">
              <a href="{{ .Permalink }}">
                <img src="{{ .Params.image }}" alt="{{ .Title }}" >
                <span class="info">
                  <strong class="big-title">{{ .Title }}</strong>
                  <span class="excerpt">{{ .Params.Summary }}</span>
                  <em class="arrow-right"></em>
                </span>
              </a>
            </div>
          </div>
        </div>
        {{ end }}

      <div id="ajax-posts">
        {{ range first 6 (where .Data.Pages "Section" "revista") }}
        <div class="box col-sm-6">
          <div class="post-box horizontal clearfix">
            <a href="{{ .Permalink }}" class="image-link arrow-icon"><img src="{{ .Params.Image }}" alt="{{ .Title }}"></a>
            <div class="extra-info">
              <p class="meta small">{{ .Date.Format "2 de Jan de 2006" }} por <a href="{{ "/author/" | relLangURL }}{{ .Param "author" | urlize }}">{{ .Param "authorName" }}</a></p>
              <h6><a href="{{ .Permalink }}">{{ .Title }}</a></h6>
              <p class="small">{{ .Params.Description }}</p>
            </div>
          </div>
        </div>
        {{ end }}
      </div>

        <div class="box col-sm-12 text-center">
          <a href="{{ .Site.BaseURL }}/arquivos/"  class="button color no-bottom">Mais postagens</a>
        </div>

      </div>
    </div>
  </div>
</main>
